div.videoControls
  div.btn-group
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="play()" data-ng-hide="playing") Play
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="play()" data-ng-show="firstPlay") Big play button
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="pause()" data-ng-show="playing") Pause
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="seek(0)") Rewind
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="mute()" data-ng-hide="muted") Mute
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="unmute()" data-ng-show="muted") Unmute
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="requestFullScreen()" data-ng-hide="isFullscreen") Fullscreen
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="skip()") Skip video
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="showCaptions()" data-ng-hide="captionsVisible") Show captions
    a.btn.btn-default(href="JavaScript:void(0);" data-ng-click="hideCaptions()" data-ng-show="captionsVisible") Hide captions
  div(data-tnt-media-slider data-current-time="currentTime" data-duration="duration" data-buffered-percent="bufferedPercent" data-seek="seek")
  span {{currentTime*1000 | timecode}}/{{duration*1000 | timecode}}