
div.videoPending(data-ng-hide="!videoPending")
  div.spinner
//- video#videoPlayer.video-js.vjs-default-skin(preload="metadata")
video#videoPlayer.video-js.vjs-default-skin.vjs-big-play-centered(controls preload="metadata")
div.captions(data-tnt-captions, data-src="captions", data-ng-show="captionsVisible" data-current-time="currentTime")
