.videoContainer{
  //video will follow size rules of this container, expanding width to fit and scaling height to match video ratio
  width: 100%;
  margin-bottom: 1em;
  .videoPlayer{
    //width:100% !important;
    //height:auto !important;
    position: relative;
    left: -1000%;
    video{
      // width:100%;
      // height:100%;
    }
  }
  .vjs-default-skin {
    .vjs-play-progress, .vjs-volume-level {
      background-image: none;
      background-color: #00a5ff;
    }
    .vjs-big-play-button {
      display: none;
    }
    overflow: hidden;
  }
}
@import "../videocontrols/main";
@import "../captions/main";
