//Jake: IE conditional comments
//http://blog.tompawlak.org/ie-conditional-comments-jade
//fixed jade cannot handle ie condition
mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //Jake: for disable IE compatibility view
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    link(rel="stylesheet", href="assets/css/style.css", type="text/css")
    link(rel="stylesheet", href="assets/css/video-js.min.css", type="text/css")
    title 2and2 project
    //Jake: scorm tip, it needs to load before loading requirejs, otherwise ' pipwerks = window.pipwerks ' on scorm service get underfined
    script(type="text/javascript", src="assets/js/lib/scorm-api-wrapper/src/JavaScript/SCORM_API_wrapper.js")
  body
    p Welcome
    p #{message}
    #smile
    include app/main
    if deploy
      script(type="text/javascript", src="assets/js/deploy/main.js")
      //IE conditional comments
      //+ie('if IE 8')
      //  script(type="text/javascript", src="assets/js/deploy/ie8fix.js")
    else
      script(type="text/javascript", data-main="assets/js/app/main", src="assets/js/lib/require.js")
      //if IE 8
        script(type="text/javascript", data-main="assets/js/app/fix/ie8fix", src="assets/js/lib/require.js")
